<!--The content below is only a placeholder and can be replaced.-->



<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
  <div>Username: <input type="text" name="username" ngModel>
  </div>
  <div>First Name: <input type="text" name="firstName" ngModel>
  </div>
  <div>Last Name: <input type="text" name="lastName" ngModel>
  </div>
  <div ngModelGroup="passwordsGroup">
    <div>Password: <input type="password" name="password" ngModel>
    </div>
    <div>Confirm password: <input type="password" name="pconfirm" ngModel>
    </div>
  </div>
  <button type="submit">Login</button>
</form>